header {
  background-color: black;
  nav {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    gap: 0.75rem;
    padding: 12px 12px 0;

    button {
      padding: 8px 12px;
      border: none;

      border-radius: 4px;
      backdrop-filter: blur(16px);

      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: uppercase;
      cursor: pointer;
    }

    .nav-cta {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      align-self: center;
      color: var(--neutral-dark-100);
      background-color: var(--yellow);
    }

    .nav-logo {
      color: var(--yellow);
      background-color: var(--yellow);
      background: var(--neutral-dark-48);
    }

    ul {
      margin: 0;
      padding: 0;
      grid-column: 1 / 3;
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-rows: 1fr;
      grid-auto-flow: column;
      gap: 12px;

      li {
        list-style: none;
        a {
          color: var(--yellow);
          text-align: center;
          padding: 8px 12px;
          border-radius: 4px;
          background: var(--neutral-light-32);
          backdrop-filter: blur(16px);

          display: inline-block;
          width: 100%;

          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;
          letter-spacing: 1px;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    nav {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: 1fr;
      gap: 8px;
      padding: 16px 24px 0;

      .nav-cta {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }

      ul {
        grid-column: 2 / 3;
      }
    }
  }
}
