@font-face {
  font-family: "LT Superior Serif";
  font-style: normal;
  font-weight: 800; /* ExtraBold */
  src: url("/fonts/lt-superior-serif/LTSuperiorSerif-ExtraBold.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "LT Superior Serif";
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url("/fonts/lt-superior-serif/LTSuperiorSerif-Bold.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "LT Superior Serif";
  font-style: normal;
  font-weight: 600; /* SemiBold */
  src: url("/fonts/lt-superior-serif/LTSuperiorSerif-Semibold.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "LT Superior Serif";
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url("/fonts/lt-superior-serif/LTSuperiorSerif-Medium.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "LT Superior Serif";
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url("/fonts/lt-superior-serif/LTSuperiorSerif-Regular.otf") format("otf");
  font-display: swap;
}

body {
  margin: 0;
}

:root {
  --neutral-light-32: rgba(255, 255, 255, 0.32);
  --neutral-dark-48: rgba(42, 33, 25, 0.48);
  --neutral-dark-100: #2a2119;
  --yellow: #ffda3d;

  font-family: "LT Superior Serif", serif;
  font-weight: 400;
  line-height: 1.2;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
