@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/Integral-CF/Integral-CF-Bold.otf") format("opentype");
}

@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --font-integral: "Integral CF", sans-serif;

  --color-grey-primary: #f0f0f0;
}

@utility px-global {
  @apply px-4;
  @apply md:px-5;
}

body {
  @apply font-satoshi;
}
